body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
    
}
#navbar-top{
    height: 30px;
    
    width: 100%;
    border: 1px solid #50504b;
    background-color:#50504b ;
}
#navbar-promo-text{
    font-family: sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 6px;


}
#navbar-bottom{
    height: 90px;
    justify-content: space-around;
    width: 100%;
    /* position: absolute; */
    top: 25px;
    background-color: white;
    position: sticky;
    z-index: 4;
    top: 0px;
    /* border: 1px solid red; */
    
}
#navbar-bottom{
    display: flex;
    align-items: center;
}
.navbar-bottom-div{
    height: 100%;
    width: 33.3%;
    /* border: 1px solid red; */

}
#navbar-logo{
    
    /* height: 50%; */
    width: 35%;
    margin-left: 40%;
    margin-top: 7px;
    padding: 8px;
    
}
.navbar-bottom-div{
    display: flex;
    justify-content: flex-end;
    
}
.navbar-bottom-div-div{
    height: 20px;
    width: 20px;
    /* border: 1px solid red; */
    margin: 20px;
    
    
}
#menu{
    height: 30px;
    width: 40px;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 200px;
    
    
    

}
.navbar-bottom-div{
    display: block;
}
.small-div{
    height: 20px;
    width: 20px;
    /* border: 1px solid red; */
}
.small-div>a>img,.small-div>img{
    height: 22px;
    width: 100%;
    cursor: pointer;
}
.navbar-bottom-div3{
    display: flex;
    margin-left: 95px;
    margin-top: 25px;
    gap: 20px;
}
h3{
    /* margin-left: 8%; */
    /* margin-right: 10%; */
    cursor: pointer;
}
#navbarmenu{
    display: flex;
    height: 250px;
    width: 90%;
    position: absolute;
    top: 100px;
    background-color: white;
    left: 5%;
    z-index: 2;
    /* border: 1px solid red; */
}
.navbarmenu-div{
    height: 95%;
    width: 50%;

    /* border: 1px solid red; */
}
#navbarmenu-div-img{
    margin: auto;
    
    margin-top: 2%;
    /* height: 70%; */
    width: 70%;
    /* border: 1px solid red; */
}
#navbarmenu-div-img>img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
#navbarmenu-text-div>li,li a{
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin: 16px;
    cursor: pointer;
    color: rgb(55, 54, 54);
    font-weight: normal;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-left: 20px;
}
#navbarmenu-text-div>li:hover {
    text-decoration: underline;
}



#navbarmenu>div:first-child {
    overflow: scroll;
    
    overflow-x: hidden;

    margin-left: 20px;
}

#navbarmenu-text-div {
    list-style: none;
}
#navbarmenu-text-div>li:nth-child(11){
    color: red;
}
#navbarmenu-text-div>li:nth-child(4){
    color: red;
}
#navh2{
    display: none;
}
#navbarmenu{
    display:none;
}
li a{
    color: rgb(0, 0, 0,0.8);
    text-decoration: none;
    font-family: sans-serif;
}